<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{data.page_title}}</title>
        <link href="{{ env.HOST_NAME }}css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ env.HOST_NAME }}css/bootstrap-theme.min.css" rel="stylesheet">
        <link href="{{ env.HOST_NAME }}css/style.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <![endif]-->
    </head>
    <body>
<div class="main">